@font-face {
    font-family: 'tripsansultra';
    src: url('/public/fonts/TripSans-Ultra.ttf') format('truetype');
 }

@font-face {
    font-family: 'tripsansbold';
    src: url('/public/fonts/TripSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'tripsansmedium';
    src: url('/public/fonts/TripSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'tripsansregular';
    src: url('/public/fonts/TripSans-Regular.ttf') format('truetype');
}