@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'navbar.scss';
@import 'home.scss';

:root {
    --primary-color: rgb(255, 93, 38);
    --primary-color-75: rgba(255, 93, 38, 75%);
    --primary-color-50: rgba(255, 93, 38, 50%);
    --primary-color-25: rgba(255, 93, 38, 25%);
    --primary-color-10: rgba(255, 93, 38, 10%);
    --secondary-color: rgb(17, 17, 17);
    --secondary-color-85: rgba(17, 17, 17, 85%);
    --secondary-color-75: rgba(17, 17, 17, 75%);
    --secondary-color-50: rgba(17, 17, 17, 50%);
    --secondary-color-25: rgba(17, 17, 17, 25%);
    --secondary-color-15: rgba(17, 17, 17, 15%);
    --secondary-color-10: rgba(17, 17, 17, 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0px 0px 0px;
}

body {
    background-image: url('../../public/Images/background.png');
    background-repeat: repeat;
    background-size: cover;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1600px;
    }
}

.footer-content {
    max-width: 1320px!important;
    margin: 0px auto;
    margin-top: 100px;
    // display: flex;
    justify-items: start;
}

.footer-links {
    padding: 20px!important;
    column-gap: 40px;
    border-bottom: 2px solid rgba(255, 93, 38, 25%)!important;
    transition: all 0.3s ease-in-out;
}

footer:hover .footer-links {
    border-bottom: 2px solid rgba(255, 93, 38, 75%)!important;
}

.footer-links a {
    font-size: 25px;
}

.footer-links a i {
    transition: all 0.3s ease-in-out;
}

.footer-links a:hover i {
    color: rgba(255, 93, 38, 75%);
}

.footer-text {
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text p, .useful-links a {
    font-size: 15px;
    text-decoration: none;
}

.footer-text h6 {
    width: fit-content;
}

.footer-text .footer-title-underline {
    height: 1.5px;
    width: 20%;
    background-color: rgb(255, 93, 38, 25%);
    transition: all 0.3s ease-in-out;
}

footer:hover .footer-title-underline {
    width: 40%;
    background-color: rgb(255, 93, 38, 75%);
}

.footer-text .footer-title-underline:nth-of-type(2) {
    margin: 0 auto;
}

.useful-links a:hover {
    color: rgba(255, 93, 38, 100%)!important;
}

.useful-links {
    text-align: center;
}

.useful-links h6 {
    margin: 0px auto;
    margin-bottom: 8px;
}

.useful-links h6 .footer-title-underline {
    margin: 0px auto;
}

.contact {
    text-align: right;
}

.contact h6 {
    margin-left: auto;
    margin-bottom: 8px;
}

.contact h6 .footer-title-underline {
    margin-left: auto;
}

.contact p {
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 10px;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(17, 17, 17, 10%)!important;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    background-color: rgba(255, 93, 38, 25%);
    padding: 15px!important;
}

.footer-copyright p, .footer-copyright a {
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

p {
    margin-bottom: 0rem!important;
}

.navbar-toggler {
    padding: 0px;
    font-size: 25px;
    line-height: 0;
    color: none;
    background-color: transparent;
    border: none;
    border-radius: none;
    transition: var(--bs-navbar-toggler-transition);
}

//change the color of the navbar-toggler-icon when it is presed
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 1700px) {
    .container {
        max-width: 1320px;
    }

    .navbar-nav {
        column-gap: 20px;
    }

    .navbar-brand img {
        height: 50px;
    }

    .nav-item .btn {
        width: 138px;
        height: 50px;
        border-radius: 8px;
        font-size: 18px;
    }

    .btn-login {
        border: 4px solid #FF5D26;
    }

    .btn-login:hover {
        border: 4px solid #FF5D26;
    }

    .btn-register {
        border: 4px solid #FF5D26;
    }

    .form-header-register {
        margin-top: 30px;
    }

    .form-header-register p {
        font-size: 20px;
    }

    .user-dropdown {
        font-size: 15px;
        border-radius: 8px;
        padding: 5px 17.5px!important;
    }

    .dropdown-toggle::after {
        vertical-align: 0.1em;
    }

    .normal-link {
        font-size: 15px;
    }

    .active-custom::after {
        height: 3px;
    }

    .dropdown-divider {
        margin: 0 0;
    }

    .dropdown-item {
        padding: 5px 12px;
    }

    .dropdown-menu a {
        font-size: 15px;
    }

    .footer-content {
        max-width: 1100px!important;
        margin-top: 75px;
    }

    .footer-links {
        padding: 17.5px!important;
        column-gap: 30px;
    }

    .footer-links a {
        font-size: 20px;
    }

    .footer-text {
        margin: 20px 0px;
    }

    .footer-text p, .useful-links a, .contact p {
        font-size: 12.5px;
    }

    .useful-links h6 {
        margin-bottom: 5px;
    }

    .contact h6 {
        margin-bottom: 5px;
    }

    .footer-copyright {
        padding: 10px!important;
    }

    .footer-copyright p, .footer-copyright a {
        font-size: 12.5px;
    }
}
