@import 'variables';
@import 'dashboard-navbar.scss';
@import "total-analytics.scss";

:root {
    --primary-color: rgb(255, 93, 38);
    --primary-color-75: rgba(255, 93, 38, 75%);
    --primary-color-50: rgba(255, 93, 38, 50%);
    --primary-color-25: rgba(255, 93, 38, 25%);
    --primary-color-10: rgba(255, 93, 38, 10%);
    --secondary-color: rgb(17, 17, 17);
    --secondary-color-85: rgba(17, 17, 17, 85%);
    --secondary-color-75: rgba(17, 17, 17, 75%);
    --secondary-color-50: rgba(17, 17, 17, 50%);
    --secondary-color-25: rgba(17, 17, 17, 25%);
    --secondary-color-15: rgba(17, 17, 17, 15%);
    --secondary-color-10: rgba(17, 17, 17, 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
}

.dashboard-body {
    width: 100%;
    margin-left: 195px;
}

.dashboard-default-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin-top: 2.5%;
    margin-bottom: 7.5%;
    width: 100%;
    background-color: var(--secondary-color-10);
}

.dashboard-default-content-container h2 {
    border-bottom: 4px solid var(--primary-color-50);
}

.dashboard-default-content-container p {
    font-size: 17.5px;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--primary-color-10);
    padding: 20px 20px;
}

.dashboard-header-logo {
    height: 22.5px;
}

.dashboard-header h1 {
    width: fit-content;
    font-family: 'tripsansultra';
    font-size: 25px;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

.dashboard-header h2 {
    font-family: 'tripsansbold';
    font-size: 20px;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

.dashboard-content {
    padding: 0px 50px;
}

.analytics {
    margin-top: 25px;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

.feedback-popup {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color-75);
    // color: yellow;
}

.feedback-popup p {
    color: #32CD32;
    font-size: 15px;
    font-weight: 900;
}

.users-header,
.users-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users-header {
    height: 60px;
    background-color: rgba(255, 93, 38, 10%);
    border-radius: 15px 15px 0px 0px;
    padding: 10px 20px 10px 20px;
}

.users-header .search-add {
    column-gap: 25px;
}

.users-header h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.search button {
    width: 100px;
    border: 2px solid var(--secondary-color-75);
    border-radius: 0px 10px 10px 0px;
    font-size: 15px;
    color: var(--secondary-color-75);
    font-weight: 900;
    transition: 0.3s all ease-in;
}

.search input {
    border: 2px solid var(--secondary-color-75);
    background-color: rgba(255, 255, 255, 50%);
    border-right: none;
    font-size: 15px;
    font-family: 900;
    color: var(--secondary-color-75);
}

.form-control:focus {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 100%);
    border-color: var(--primary-color);
    border-right: 2px solid var(--primary-color);
    outline: 0;
    box-shadow: none;
}

.search button:hover,
.add-user-button:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.add-user-button:hover a {
    color: var(--primary-color);
}

.add-user-button {
    display: flex;
    width: 140px;
    height: 39px;
    border: 2px solid var(--secondary-color-75);
    border-radius: 10px;
    transition: 0.3s all ease-in;
}

.add-user-button a {
    width: fit-content;
    margin: 0px auto;
    padding: 0px;
    color: var(--secondary-color-75);
    font-size: 15px;
    font-weight: 900;
    transition: 0.3s all ease-in;
}

.table th,
.table td {
    padding: 15px 20px;
}

.table-column-id {
    width: 1%;
  }

  .table-column-name {
    width: 20%;
  }

  .table-column-email {
    width: 20%;
  }

  .table-column-status {
    width: 10%;
  }

  .table-column-role {
    width: 20%;
  }

  .table-column-actions {
    width: 29%;
  }

.status {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.status-badge {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.active {
    background-color: #32CD32;
}

.inactive {
    background-color: #FF0000;
}

.action-btns {
    display: flex;
    column-gap: 10px;
}

.action-btn {
    width: fit-content;
    padding: 0px 10px;
    border-radius: 10px;
    font-family: "tripsansbold";
    font-size: 15px;
}

.edit-btn {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: 0.3s all ease-in;
}

.edit-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.suspend-btn {
    border: 2px solid #FFA500;
    color: #FFA500;
    border-radius: 10px;
    transition: 0.3s all ease-in;
}

.suspend-btn:hover {
    background-color: #FFA500;
    color: white;
}

.activate-btn {
    border: 2px solid #32CD32;
    color: #32CD32;
    border-radius: 10px;
    transition: 0.3s all ease-in;
}

.activate-btn:hover {
    background-color: #32CD32;
    color: white;
}

.delete-btn {
    border: 2px solid #FF0000 !important;
    color: #FF0000 !important;
    border-radius: 10px;
    transition: 0.3s all ease-in;
}

.delete-btn:hover {
    background-color: #FF0000 !important;
    color: white !important;
}

@media (max-width: 1700px) {
    .dashboard-header h1 {
        font-size: 20px;
    }

    .dashboard-header h2 {
        font-size: 15px;
    }

    .dashboard-content {
        padding: 0px 40px;
    }

    .nav-items {
        padding-top: 15px;
    }

    .nav-items h3,
    .logout {
        font-size: 15px;
        padding-bottom: 15px;
    }

    .nav-item-dashboard i {
        font-size: 12.5px;
    }

    .nav-item-dashboard a {
        font-size: 12.5px;
    }

    .users-header {
        height: 50px;
    }

    .users-header .search-add {
        column-gap: 25px;
    }

    .users-header h3 {
        font-size: 17.5px;
    }

    .search button {
        width: 75px;
        height: 35px;
        font-size: 12.5px;
    }

    .search input {
        height: 35px;
        font-size: 12.5px;
    }

    .add-user-button {
        width: fit-content;
        height: fit-content;
    }

    .add-user-button a {
        padding: 5.5px 15px;
        font-size: 12.5px;
    }

    .table th,
    .table td {
        padding: 12.5px 20px;
        font-size: 12.5px;
    }

    .status-badge {
        width: 7.5px;
        height: 7.5px;
    }

    .action-btn {
        font-size: 12.5px;
    }
}
