@import 'hero.scss';
@import 'influencer-card.scss';

.home-container {
    margin-top: 25px;
}

.navbar-nav {
    column-gap: 40px;
}

.section {
    margin-top: 100px;
}

.section-header {
    width: 1320px;
    margin: 0px auto;
}

.section-header-content {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: flex-end;
}

.section-header-content h2 {
    font-family: 'tripsansultra', serif;
    width: fit-content;
    font-size: 25px;
    color: var(--secondary-color);
}

.section-header-content h4 {
    font-family: 'tripsansmedium', serif;
    font-size: 18px;
    color: var(--secondary-color-50);
}

.section-header-divider {
    height: 4px;
    width: 5%;
    margin-top: 10px;
    background-color: var(--primary-color-50);
    border-radius: 25px;
}

.category-items {
    width: 1320px;
    margin: 40px auto 0 auto;
    display: grid;
    row-gap: 40px;
}

.items-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-item-background-image {
    width: 225px;
    background-image: url('../../public/Images/hero.png');
    background-size: cover;
    background-position: center;
    border-radius: 26px;
    overflow: hidden;
    border: 2px solid #787777;
    transition: all 0.3s ease-in-out 0s;
}

.category-item-glass-effect {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10.0px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.category-item-glass-effect img {
    width: 40px;
    height: 40px;
    opacity: 0.75;
    transition: all 0.3s ease-in-out 0s;
}

.category-item-glass-effect h3 {
    font-family: 'tripsansbold', sans-serif;
    font-size: 16px;
    color: var(--secondary-color-75);
    margin: 0;
    transition: all 0.3s ease-in-out 0s;
}

.item-divider {
    height: 2px;
    width: 20%;
    margin: 15px 0;
    background-color: var(--secondary-color-75);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.category-item-background-image:hover {
    border: 2px solid #FF5D26;
}

.category-item-background-image:hover img {
    opacity: 1;
}

.category-item-background-image:hover .item-divider {
    width: 40%;
    background-color: #FF5D26;
}

.category-item-background-image:hover h3 {
    color: rgba(17, 17, 17, 100%);
}

.featured-influencers-container {
    margin: 50px auto 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
}
